*{
    margin: 0;
    padding: 0;
}

.mainbody{
    position: relative;
    background: rgb(124, 187, 179) ;
    height: 100vh;
}

nav{
    background-color:rgb(120, 165, 159) ;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* display: inline-block; */

}

nav ul li {
    list-style: none;
    padding-right: 50px;
    font-size: 1.5em;
    display: inline-block;
    
}
nav ul li a{
    text-decoration: none;
    padding: 10px;
    font-family: sans-serif;
    /* background-color: rgb(0, 0, 0); */
        color : rgb(0, 0, 0);
}

nav ul li a:hover{
    color: rgb(255, 153, 0);
}


.mydetails{
    margin-top: 10%;
    margin-left: 8%;
font-family: Helvetica, sans-serif;
width: 100%;

}

.info1{
   
    font-weight: bold;
    width: 70%;
}

#name{
    color: rgb(255, 0, 0);
}

.info2{
    width: 40%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#button a{
    text-decoration: none;
    font-size: 50em;
}